- form_for(@<%= singular_name %>) do |f|
  = f.error_messages

  <%- for attribute in attributes do -%>
  <%- if attribute.field_type == 'text_field' -%>
  = labeled_input f, :<%= attribute.name %>
  <%- else -%>
  = labeled_input f, :<%= attribute.name %>, :input => f.<%= attribute.field_type %>(:<%= attribute.name %>)
  <%- end -%>
  <%- end -%>
  = unlabeled_submit f
  
      